body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #292926e7;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ccc;
}

.section {
  padding: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.blog-img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
}

.blog-video {
  max-width: 100%;
  margin: 10px 0;
  border-radius: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  .section {
    margin: 10px;
  }
}
